**/*.1man
autotools/*
aclocal.m4
configure
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
**/Makefile
**/Makefile.in
config.status
config.log
make-cpan-dist.spec
autom4te.cache/
src/main/perl/**/*.pm
src/main/perl/**/*.pl
src/main/bash/**/*.sh
src/main/bash/bin/make-cpan-dist
